<!DOCTYPE <!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel='icon' href='img/weather.png'>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <button onclick="window.location.href= 'https://www.github.com/Blakells'" ><i class="fab fa-github" ></i></button>
            <p id='about'>This site uses the DarkSky API to fetch forecasts, & the MapBox Geolocation API to fetch location</p>
        <img src = './img/photo-1485827404703-89b55fcc595e.jpg' class='portrait'>
        </div>
        {{>footer}}
        <script src="https://kit.fontawesome.com/e55661a10c.js" crossorigin="anonymous"></script>
    </body>
</html>